<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Header</key>
	<string>
*******************************************************************************************************************
*                                                MagicKeyboard                                                    *
*******************************************************************************************************************
* File:             NumPadWide.plist                                                                              *
* Copyright:        (c) 2011 alimonda.com; Emanuele Alimonda                                                      *
*                   This software is free software: you can redistribute it and/or modify it under the terms of   *
*                       the GNU General Public License as published by the Free Software Foundation, either       *
*                       version 3 of the License, or (at your option) any later version.                          *
*                   This software is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;    *
*                       without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. *
*                   See the GNU General Public License for more details.                                          *
*                   You should have received a copy of the GNU General Public License along with this program.    *
*                       If not, see http://www.gnu.org/licenses/                                                  *
*******************************************************************************************************************
 	</string>
	<key>LayoutName</key>
	<string>Development Keyboard</string>
	<key>Definition</key>
	<string>dDevelopment</string>
	<key>Symbol</key>
	<string>⚒</string>
	<key>Keys</key>
	<array>
		<dict>
			<key>Button</key>
			<integer>1</integer>
			<key>Type</key>
			<string>Symbol</string>
			<key>Value</key>
			<string>[</string>
			<key>Comment</key>
			<string>[ key</string>
		</dict>
		<dict>
			<key>Button</key>
			<integer>2</integer>
			<key>Type</key>
			<string>Symbol</string>
			<key>Value</key>
			<string>]</string>
			<key>Comment</key>
			<string>] key</string>
		</dict>
		<dict>
			<key>Button</key>
			<integer>3</integer>
			<key>Type</key>
			<string>Symbol</string>
			<key>Value</key>
			<string>{</string>
			<key>Comment</key>
			<string>{ key</string>
		</dict>
		<dict>
			<key>Button</key>
			<integer>4</integer>
			<key>Type</key>
			<string>Symbol</string>
			<key>Value</key>
			<string>}</string>
			<key>Comment</key>
			<string>} key</string>
		</dict>
	</array>
</dict>
</plist>
