<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- ***************************************************************************************************************
 *                                                MagicKeyboard                                                    *
 *******************************************************************************************************************
 * File:             Lay_NumsMini.plist                                                                            *
 * Copyright:        (c) 2011 alimonda.com; Emanuele Alimonda                                                      *
 *                   This software is free software: you can redistribute it and/or modify it under the terms of   *
 *                       the GNU General Public License as published by the Free Software Foundation, either       *
 *                       version 3 of the License, or (at your option) any later version.                          *
 *                   This software is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;    *
 *                       without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. *
 *                   See the GNU General Public License for more details.                                          *
 *                   You should have received a copy of the GNU General Public License along with this program.    *
 *                       If not, see <http://www.gnu.org/licenses/>                                                *
 **************************************************************************************************************** -->
<plist version="1.0">
<dict>
	<key>LayoutName</key>
	<string>Mini Modifiers Keyboard</string>
	<key>Definition</key>
	<string>ModsMini</string>
	<key>Keys</key>
	<array>
		<dict>
			<key>Button</key>
			<integer>1</integer>
			<key>Letter</key>
			<string>ESC</string>
			<key>Keycode</key>
			<integer>53</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>2</integer>
			<key>Letter</key>
			<string>F1</string>
			<key>Keycode</key>
			<integer>122</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>3</integer>
			<key>Letter</key>
			<string>F2</string>
			<key>Keycode</key>
			<integer>120</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>4</integer>
			<key>Letter</key>
			<string>F3</string>
			<key>Keycode</key>
			<integer>99</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>5</integer>
			<key>Letter</key>
			<string>F4</string>
			<key>Keycode</key>
			<integer>118</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>6</integer>
			<key>Letter</key>
			<string>F5</string>
			<key>Keycode</key>
			<integer>96</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>7</integer>
			<key>Letter</key>
			<string>F6</string>
			<key>Keycode</key>
			<integer>97</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>8</integer>
			<key>Letter</key>
			<string>F7</string>
			<key>Keycode</key>
			<integer>98</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>9</integer>
			<key>Letter</key>
			<string>F8</string>
			<key>Keycode</key>
			<integer>100</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>10</integer>
			<key>Letter</key>
			<string>F9</string>
			<key>Keycode</key>
			<integer>101</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>11</integer>
			<key>Letter</key>
			<string>F10</string>
			<key>Keycode</key>
			<integer>109</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>12</integer>
			<key>Letter</key>
			<string>F11</string>
			<key>Keycode</key>
			<integer>103</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>13</integer>
			<key>Letter</key>
			<string>F12</string>
			<key>Keycode</key>
			<integer>111</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>14</integer>
			<key>Letter</key>
			<string>QWERTY</string>
			<key>Keycode</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>15</integer>
			<key>Letter</key>
			<string>CTRL</string>
			<key>Keycode</key>
			<integer>59</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>16</integer>
			<key>Letter</key>
			<string>ALT</string>
			<key>Keycode</key>
			<integer>58</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>17</integer>
			<key>Letter</key>
			<string>CMD</string>
			<key>Keycode</key>
			<integer>55</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>18</integer>
			<key>Letter</key>
			<string>TAB</string>
			<key>Keycode</key>
			<integer>48</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>19</integer>
			<key>Letter</key>
			<string>UP</string>
			<key>Keycode</key>
			<integer>126</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>20</integer>
			<key>Letter</key>
			<string>DOWN</string>
			<key>Keycode</key>
			<integer>125</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>21</integer>
			<key>Letter</key>
			<string>LEFT</string>
			<key>Keycode</key>
			<integer>123</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>22</integer>
			<key>Letter</key>
			<string>RIGHT</string>
			<key>Keycode</key>
			<integer>124</integer>
		</dict>
	</array>
</dict>
</plist>
