<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- ***************************************************************************************************************
 *                                                MagicKeyboard                                                    *
 *******************************************************************************************************************
 * File:             NumsMini.plist                                                                                *
 * Copyright:        (c) 2011 alimonda.com; Emanuele Alimonda                                                      *
 *                   This software is free software: you can redistribute it and/or modify it under the terms of   *
 *                       the GNU General Public License as published by the Free Software Foundation, either       *
 *                       version 3 of the License, or (at your option) any later version.                          *
 *                   This software is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;    *
 *                       without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. *
 *                   See the GNU General Public License for more details.                                          *
 *                   You should have received a copy of the GNU General Public License along with this program.    *
 *                       If not, see <http://www.gnu.org/licenses/>                                                *
 **************************************************************************************************************** -->
<plist version="1.0">
<dict>
	<key>LayoutName</key>
	<string>Mini Numbers Keyboard</string>
	<key>Definition</key>
	<string>iOSNums</string>
	<key>Keys</key>
	<array>
		<dict>
			<key>Button</key>
			<integer>1</integer>
			<key>Type</key>
			<string>Symbol</string>
			<key>Value</key>
			<string>1</string>
			<key>Keycode</key>
			<integer>18</integer>
			<key>Comment</key>
			<string>1 key (keycode 18)</string>
		</dict>
		<dict>
			<key>Button</key>
			<integer>2</integer>
			<key>Type</key>
			<string>Symbol</string>
			<key>Value</key>
			<string>2</string>
			<key>Keycode</key>
			<integer>19</integer>
			<key>Comment</key>
			<string>2 key (keycode 19)</string>
		</dict>
		<dict>
			<key>Button</key>
			<integer>3</integer>
			<key>Type</key>
			<string>Symbol</string>
			<key>Value</key>
			<string>3</string>
			<key>Keycode</key>
			<integer>20</integer>
			<key>Comment</key>
			<string>3 key (keycode 20)</string>
		</dict>
		<dict>
			<key>Button</key>
			<integer>4</integer>
			<key>Type</key>
			<string>Symbol</string>
			<key>Value</key>
			<string>4</string>
			<key>Keycode</key>
			<integer>21</integer>
			<key>Comment</key>
			<string>4 key (keycode 21)</string>
		</dict>
		<dict>
			<key>Button</key>
			<integer>5</integer>
			<key>Type</key>
			<string>Symbol</string>
			<key>Value</key>
			<string>5</string>
			<key>Keycode</key>
			<integer>23</integer>
			<key>Comment</key>
			<string>5 key (keycode 23)</string>
		</dict>
		<dict>
			<key>Button</key>
			<integer>6</integer>
			<key>Type</key>
			<string>Symbol</string>
			<key>Value</key>
			<string>6</string>
			<key>Keycode</key>
			<integer>22</integer>
			<key>Comment</key>
			<string>6 key (keycode 22)</string>
		</dict>
		<dict>
			<key>Button</key>
			<integer>7</integer>
			<key>Type</key>
			<string>Symbol</string>
			<key>Value</key>
			<string>7</string>
			<key>Keycode</key>
			<integer>26</integer>
			<key>Comment</key>
			<string>7 key (keycode 26)</string>
		</dict>
		<dict>
			<key>Button</key>
			<integer>8</integer>
			<key>Type</key>
			<string>Symbol</string>
			<key>Value</key>
			<string>8</string>
			<key>Keycode</key>
			<integer>28</integer>
			<key>Comment</key>
			<string>8 key (keycode 28)</string>
		</dict>
		<dict>
			<key>Button</key>
			<integer>9</integer>
			<key>Type</key>
			<string>Symbol</string>
			<key>Value</key>
			<string>9</string>
			<key>Keycode</key>
			<integer>25</integer>
			<key>Comment</key>
			<string>9 key (keycode 25)</string>
		</dict>
		<dict>
			<key>Button</key>
			<integer>10</integer>
			<key>Type</key>
			<string>Symbol</string>
			<key>Value</key>
			<string>0</string>
			<key>Keycode</key>
			<integer>29</integer>
			<key>Comment</key>
			<string>0 key (keycode 29)</string>
		</dict>
		<dict>
			<key>Button</key>
			<integer>11</integer>
			<key>Type</key>
			<string>Symbol</string>
			<key>Value</key>
			<string>-</string>
			<key>Keycode</key>
			<integer>27</integer>
			<key>Comment</key>
			<string>- key (keycode 27)</string>
		</dict>
		<dict>
			<key>Button</key>
			<integer>12</integer>
			<key>Type</key>
			<string>Symbol</string>
			<key>Value</key>
			<string>/</string>
			<key>Keycode</key>
			<integer>44</integer>
			<key>Comment</key>
			<string>/ key (keycode 44)</string>
		</dict>
		<dict>
			<key>Button</key>
			<integer>13</integer>
			<key>Type</key>
			<string>Symbol</string>
			<key>Value</key>
			<string>:</string>
			<key>Keycode</key>
			<integer>41</integer>
			<key>Comment</key>
			<string>: key (keycode SHIFT-41)</string>
		</dict>
		<dict>
			<key>Button</key>
			<integer>14</integer>
			<key>Type</key>
			<string>Symbol</string>
			<key>Value</key>
			<string>;</string>
			<key>Keycode</key>
			<integer>41</integer>
			<key>Comment</key>
			<string>; key (keycode 41)</string>
		</dict>
		<dict>
			<key>Button</key>
			<integer>15</integer>
			<key>Type</key>
			<string>Symbol</string>
			<key>Value</key>
			<string>(</string>
			<key>Keycode</key>
			<integer>25</integer>
			<key>Comment</key>
			<string>( key (keycode SHIFT-25)</string>
		</dict>
		<dict>
			<key>Button</key>
			<integer>16</integer>
			<key>Type</key>
			<string>Symbol</string>
			<key>Value</key>
			<string>)</string>
			<key>Keycode</key>
			<integer>29</integer>
			<key>Comment</key>
			<string>) key (keycode SHIFT-29)</string>
		</dict>
		<dict>
			<key>Button</key>
			<integer>17</integer>
			<key>Type</key>
			<string>Symbol</string>
			<key>Value</key>
			<string>$</string>
			<key>Keycode</key>
			<integer>21</integer>
			<key>Comment</key>
			<string>$ key (keycode SHIFT-21)</string>
		</dict>
		<dict>
			<key>Button</key>
			<integer>18</integer>
			<key>Type</key>
			<string>Symbol</string>
			<key>Value</key>
			<string>&amp;</string>
			<key>Keycode</key>
			<integer>26</integer>
			<key>Comment</key>
			<string>&amp; key (keycode SHIFT-26)</string>
		</dict>
		<dict>
			<key>Button</key>
			<integer>19</integer>
			<key>Type</key>
			<string>Symbol</string>
			<key>Value</key>
			<string>@</string>
			<key>Keycode</key>
			<integer>19</integer>
			<key>Comment</key>
			<string>@ key (keycode SHIFT-19)</string>
		</dict>
		<dict>
			<key>Button</key>
			<integer>20</integer>
			<key>Type</key>
			<string>Symbol</string>
			<key>Value</key>
			<string>&quot;</string>
			<key>Keycode</key>
			<integer>39</integer>
			<key>Comment</key>
			<string>&quot; key (keycode SHIFT-39)</string>
		</dict>
		<dict>
			<key>Button</key>
			<integer>21</integer>
			<key>Type</key>
			<string>NYI</string>
			<key>Value</key>
			<string>SYMS</string>
			<key>Keycode</key>
			<integer>-1</integer>
			<key>Comment</key>
			<string>TODO</string>
		</dict>
		<dict>
			<key>Button</key>
			<integer>22</integer>
			<key>Type</key>
			<string>Symbol</string>
			<key>Value</key>
			<string>.</string>
			<key>Keycode</key>
			<integer>47</integer>
			<key>Comment</key>
			<string>. key (keycode 47)</string>
		</dict>
		<dict>
			<key>Button</key>
			<integer>23</integer>
			<key>Type</key>
			<string>Symbol</string>
			<key>Value</key>
			<string>,</string>
			<key>Keycode</key>
			<integer>43</integer>
			<key>Comment</key>
			<string>, key (keycode 43)</string>
		</dict>
		<dict>
			<key>Button</key>
			<integer>24</integer>
			<key>Type</key>
			<string>Symbol</string>
			<key>Value</key>
			<string>?</string>
			<key>Keycode</key>
			<integer>44</integer>
			<key>Comment</key>
			<string>? key (keycode SHIFT-44)</string>
		</dict>
		<dict>
			<key>Button</key>
			<integer>25</integer>
			<key>Type</key>
			<string>Symbol</string>
			<key>Value</key>
			<string>!</string>
			<key>Keycode</key>
			<integer>18</integer>
			<key>Comment</key>
			<string>! key (keycode SHIFT-18)</string>
		</dict>
		<dict>
			<key>Button</key>
			<integer>26</integer>
			<key>Type</key>
			<string>Symbol</string>
			<key>Value</key>
			<string>&apos;</string>
			<key>Keycode</key>
			<integer>39</integer>
			<key>Comment</key>
			<string>&apos; key (keycode 39)</string>
		</dict>
		<dict>
			<key>Button</key>
			<integer>27</integer>
			<key>Type</key>
			<string>NYI</string>
			<key>Value</key>
			<string>DELETE</string>
			<key>Keycode</key>
			<integer>51</integer>
			<key>Comment</key>
			<string>TODO</string>
		</dict>
		<dict>
			<key>Button</key>
			<integer>28</integer>
			<key>Type</key>
			<string>NYI</string>
			<key>Value</key>
			<string>QWERTY</string>
			<key>Keycode</key>
			<integer>-1</integer>
			<key>Comment</key>
			<string>TODO</string>
		</dict>
		<dict>
			<key>Button</key>
			<integer>29</integer>
			<key>Type</key>
			<string>Symbol</string>
			<key>Value</key>
			<string> </string>
			<key>Keycode</key>
			<integer>49</integer>
			<key>Comment</key>
			<string>Space key (keycode 49)</string>
		</dict>
		<dict>
			<key>Button</key>
			<integer>30</integer>
			<key>Type</key>
			<string>NYI</string>
			<key>Value</key>
			<string>RETURN</string>
			<key>Keycode</key>
			<integer>36</integer>
			<key>Comment</key>
			<string>TODO</string>
		</dict>
	</array>
</dict>
</plist>
