<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- ***************************************************************************************************************
 *                                                MagicKeyboard                                                    *
 *******************************************************************************************************************
 * File:             QwertyMini.plist                                                                              *
 * Copyright:        (c) 2011 alimonda.com; Emanuele Alimonda                                                      *
 *                   This software is free software: you can redistribute it and/or modify it under the terms of   *
 *                       the GNU General Public License as published by the Free Software Foundation, either       *
 *                       version 3 of the License, or (at your option) any later version.                          *
 *                   This software is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;    *
 *                       without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. *
 *                   See the GNU General Public License for more details.                                          *
 *                   You should have received a copy of the GNU General Public License along with this program.    *
 *                       If not, see <http://www.gnu.org/licenses/>                                                *
 **************************************************************************************************************** -->
<plist version="1.0">
<dict>
	<key>LayoutName</key>
	<string>Mini QWERTY Keyboard</string>
	<key>Definition</key>
	<string>iOSMain</string>
	<key>Keys</key>
	<array>
		<dict>
			<key>Button</key>
			<integer>1</integer>
			<key>Type</key>
			<string>Symbol</string>
			<key>Value</key>
			<string>q</string>
			<key>Comment</key>
			<string>Q key</string>
		</dict>
		<dict>
			<key>Button</key>
			<integer>2</integer>
			<key>Type</key>
			<string>Symbol</string>
			<key>Value</key>
			<string>w</string>
			<key>Comment</key>
			<string>W key</string>
		</dict>
		<dict>
			<key>Button</key>
			<integer>3</integer>
			<key>Type</key>
			<string>Symbol</string>
			<key>Value</key>
			<string>e</string>
			<key>Comment</key>
			<string>E key</string>
		</dict>
		<dict>
			<key>Button</key>
			<integer>4</integer>
			<key>Type</key>
			<string>Symbol</string>
			<key>Value</key>
			<string>r</string>
			<key>Comment</key>
			<string>R key</string>
		</dict>
		<dict>
			<key>Button</key>
			<integer>5</integer>
			<key>Type</key>
			<string>Symbol</string>
			<key>Value</key>
			<string>t</string>
			<key>Comment</key>
			<string>T key</string>
		</dict>
		<dict>
			<key>Button</key>
			<integer>6</integer>
			<key>Type</key>
			<string>Symbol</string>
			<key>Value</key>
			<string>y</string>
			<key>Comment</key>
			<string>Y key</string>
		</dict>
		<dict>
			<key>Button</key>
			<integer>7</integer>
			<key>Type</key>
			<string>Symbol</string>
			<key>Value</key>
			<string>u</string>
			<key>Comment</key>
			<string>U key</string>
		</dict>
		<dict>
			<key>Button</key>
			<integer>8</integer>
			<key>Type</key>
			<string>Symbol</string>
			<key>Value</key>
			<string>i</string>
			<key>Comment</key>
			<string>I key</string>
		</dict>
		<dict>
			<key>Button</key>
			<integer>9</integer>
			<key>Type</key>
			<string>Symbol</string>
			<key>Value</key>
			<string>o</string>
			<key>Comment</key>
			<string>O key</string>
		</dict>
		<dict>
			<key>Button</key>
			<integer>10</integer>
			<key>Type</key>
			<string>Symbol</string>
			<key>Value</key>
			<string>p</string>
			<key>Comment</key>
			<string>P key</string>
		</dict>
		<dict>
			<key>Button</key>
			<integer>11</integer>
			<key>Type</key>
			<string>Symbol</string>
			<key>Value</key>
			<string>a</string>
			<key>Comment</key>
			<string>A key</string>
		</dict>
		<dict>
			<key>Button</key>
			<integer>12</integer>
			<key>Type</key>
			<string>Symbol</string>
			<key>Value</key>
			<string>s</string>
			<key>Comment</key>
			<string>S key</string>
		</dict>
		<dict>
			<key>Button</key>
			<integer>13</integer>
			<key>Type</key>
			<string>Symbol</string>
			<key>Value</key>
			<string>d</string>
			<key>Comment</key>
			<string>D key</string>
		</dict>
		<dict>
			<key>Button</key>
			<integer>14</integer>
			<key>Type</key>
			<string>Symbol</string>
			<key>Value</key>
			<string>f</string>
			<key>Comment</key>
			<string>F key</string>
		</dict>
		<dict>
			<key>Button</key>
			<integer>15</integer>
			<key>Type</key>
			<string>Symbol</string>
			<key>Value</key>
			<string>g</string>
			<key>Comment</key>
			<string>G key</string>
		</dict>
		<dict>
			<key>Button</key>
			<integer>16</integer>
			<key>Type</key>
			<string>Symbol</string>
			<key>Value</key>
			<string>h</string>
			<key>Comment</key>
			<string>H key</string>
		</dict>
		<dict>
			<key>Button</key>
			<integer>17</integer>
			<key>Type</key>
			<string>Symbol</string>
			<key>Value</key>
			<string>j</string>
			<key>Comment</key>
			<string>J key</string>
		</dict>
		<dict>
			<key>Button</key>
			<integer>18</integer>
			<key>Type</key>
			<string>Symbol</string>
			<key>Value</key>
			<string>k</string>
			<key>Comment</key>
			<string>K key</string>
		</dict>
		<dict>
			<key>Button</key>
			<integer>19</integer>
			<key>Type</key>
			<string>Symbol</string>
			<key>Value</key>
			<string>l</string>
			<key>Comment</key>
			<string>L key</string>
		</dict>
		<dict>
			<key>Button</key>
			<integer>20</integer>
			<key>Type</key>
			<string>Modifier</string>
			<key>Value</key>
			<string>SHIFT</string>
			<key>Comment</key>
			<string>Shift key</string>
		</dict>
		<dict>
			<key>Button</key>
			<integer>21</integer>
			<key>Type</key>
			<string>Symbol</string>
			<key>Value</key>
			<string>z</string>
			<key>Comment</key>
			<string>Z key</string>
		</dict>
		<dict>
			<key>Button</key>
			<integer>22</integer>
			<key>Type</key>
			<string>Symbol</string>
			<key>Value</key>
			<string>x</string>
			<key>Comment</key>
			<string>X key</string>
		</dict>
		<dict>
			<key>Button</key>
			<integer>23</integer>
			<key>Type</key>
			<string>Symbol</string>
			<key>Value</key>
			<string>c</string>
			<key>Comment</key>
			<string>C key</string>
		</dict>
		<dict>
			<key>Button</key>
			<integer>24</integer>
			<key>Type</key>
			<string>Symbol</string>
			<key>Value</key>
			<string>v</string>
			<key>Comment</key>
			<string>V key</string>
		</dict>
		<dict>
			<key>Button</key>
			<integer>25</integer>
			<key>Type</key>
			<string>Symbol</string>
			<key>Value</key>
			<string>b</string>
			<key>Comment</key>
			<string>B key</string>
		</dict>
		<dict>
			<key>Button</key>
			<integer>26</integer>
			<key>Type</key>
			<string>Symbol</string>
			<key>Value</key>
			<string>n</string>
			<key>Comment</key>
			<string>N key</string>
		</dict>
		<dict>
			<key>Button</key>
			<integer>27</integer>
			<key>Type</key>
			<string>Symbol</string>
			<key>Value</key>
			<string>m</string>
			<key>Comment</key>
			<string>M key</string>
		</dict>
		<dict>
			<key>Button</key>
			<integer>28</integer>
			<key>Type</key>
			<string>Special</string>
			<key>Value</key>
			<string>DELETE</string>
			<key>Comment</key>
			<string>Delete key</string>
		</dict>
		<dict>
			<key>Button</key>
			<integer>29</integer>
			<key>Type</key>
			<string>NYI</string>
			<key>Value</key>
			<string>NUMS</string>
			<key>Comment</key>
			<string>TODO</string>
		</dict>
		<dict>
			<key>Button</key>
			<integer>30</integer>
			<key>Type</key>
			<string>NYI</string>
			<key>Value</key>
			<string>MODIFIERS</string>
			<key>Comment</key>
			<string>TODO</string>
		</dict>
		<dict>
			<key>Button</key>
			<integer>31</integer>
			<key>Type</key>
			<string>Special</string>
			<key>Value</key>
			<string>SPACE</string>
			<key>Comment</key>
			<string>Space key</string>
		</dict>
		<dict>
			<key>Button</key>
			<integer>32</integer>
			<key>Type</key>
			<string>Special</string>
			<key>Value</key>
			<string>RETURN</string>
			<key>Comment</key>
			<string>Return key</string>
		</dict>
	</array>
</dict>
</plist>
