<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- ***************************************************************************************************************
 *                                                MagicKeyboard                                                    *
 *******************************************************************************************************************
 * File:             Lay_QwertyMini.plist                                                                          *
 * Copyright:        (c) 2011 alimonda.com; Emanuele Alimonda                                                      *
 *                   This software is free software: you can redistribute it and/or modify it under the terms of   *
 *                       the GNU General Public License as published by the Free Software Foundation, either       *
 *                       version 3 of the License, or (at your option) any later version.                          *
 *                   This software is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;    *
 *                       without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. *
 *                   See the GNU General Public License for more details.                                          *
 *                   You should have received a copy of the GNU General Public License along with this program.    *
 *                       If not, see <http://www.gnu.org/licenses/>                                                *
 **************************************************************************************************************** -->
<plist version="1.0">
<dict>
	<key>LayoutName</key>
	<string>Mini QWERTY Keyboard</string>
	<key>Definition</key>
	<string>iOSMain</string>
	<key>Keys</key>
	<array>
		<dict>
			<key>Button</key>
			<integer>1</integer>
			<key>Letter</key>
			<string>q</string>
			<key>Keycode</key>
			<integer>12</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>2</integer>
			<key>Letter</key>
			<string>w</string>
			<key>Keycode</key>
			<integer>13</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>3</integer>
			<key>Letter</key>
			<string>e</string>
			<key>Keycode</key>
			<integer>14</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>4</integer>
			<key>Letter</key>
			<string>r</string>
			<key>Keycode</key>
			<integer>15</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>5</integer>
			<key>Letter</key>
			<string>t</string>
			<key>Keycode</key>
			<integer>17</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>6</integer>
			<key>Letter</key>
			<string>y</string>
			<key>Keycode</key>
			<integer>16</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>7</integer>
			<key>Letter</key>
			<string>u</string>
			<key>Keycode</key>
			<integer>32</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>8</integer>
			<key>Letter</key>
			<string>i</string>
			<key>Keycode</key>
			<integer>34</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>9</integer>
			<key>Letter</key>
			<string>o</string>
			<key>Keycode</key>
			<integer>31</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>10</integer>
			<key>Letter</key>
			<string>p</string>
			<key>Keycode</key>
			<integer>35</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>11</integer>
			<key>Letter</key>
			<string>a</string>
			<key>Keycode</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>12</integer>
			<key>Letter</key>
			<string>s</string>
			<key>Keycode</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>13</integer>
			<key>Letter</key>
			<string>d</string>
			<key>Keycode</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>14</integer>
			<key>Letter</key>
			<string>f</string>
			<key>Keycode</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>15</integer>
			<key>Letter</key>
			<string>g</string>
			<key>Keycode</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>16</integer>
			<key>Letter</key>
			<string>h</string>
			<key>Keycode</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>17</integer>
			<key>Letter</key>
			<string>j</string>
			<key>Keycode</key>
			<integer>38</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>18</integer>
			<key>Letter</key>
			<string>k</string>
			<key>Keycode</key>
			<integer>40</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>19</integer>
			<key>Letter</key>
			<string>l</string>
			<key>Keycode</key>
			<integer>37</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>20</integer>
			<key>Letter</key>
			<string>SHIFT</string>
			<key>Keycode</key>
			<integer>56</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>21</integer>
			<key>Letter</key>
			<string>z</string>
			<key>Keycode</key>
			<integer>6</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>22</integer>
			<key>Letter</key>
			<string>x</string>
			<key>Keycode</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>23</integer>
			<key>Letter</key>
			<string>c</string>
			<key>Keycode</key>
			<integer>8</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>24</integer>
			<key>Letter</key>
			<string>v</string>
			<key>Keycode</key>
			<integer>9</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>25</integer>
			<key>Letter</key>
			<string>b</string>
			<key>Keycode</key>
			<integer>11</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>26</integer>
			<key>Letter</key>
			<string>n</string>
			<key>Keycode</key>
			<integer>45</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>27</integer>
			<key>Letter</key>
			<string>m</string>
			<key>Keycode</key>
			<integer>46</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>28</integer>
			<key>Letter</key>
			<string>DELETE</string>
			<key>Keycode</key>
			<integer>51</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>29</integer>
			<key>Letter</key>
			<string>NUMS</string>
			<key>Keycode</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>30</integer>
			<key>Letter</key>
			<string>MODIFIERS</string>
			<key>Keycode</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>31</integer>
			<key>Letter</key>
			<string> </string>
			<key>Keycode</key>
			<integer>49</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>32</integer>
			<key>Letter</key>
			<string>RETURN</string>
			<key>Keycode</key>
			<integer>36</integer>
		</dict>
	</array>
</dict>
</plist>
