<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- ***************************************************************************************************************
 *                                                MagicKeyboard                                                    *
 *******************************************************************************************************************
 * File:             Lay_SymbolsMini.plist                                                                         *
 * Copyright:        (c) 2011 alimonda.com; Emanuele Alimonda                                                      *
 *                   This software is free software: you can redistribute it and/or modify it under the terms of   *
 *                       the GNU General Public License as published by the Free Software Foundation, either       *
 *                       version 3 of the License, or (at your option) any later version.                          *
 *                   This software is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;    *
 *                       without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. *
 *                   See the GNU General Public License for more details.                                          *
 *                   You should have received a copy of the GNU General Public License along with this program.    *
 *                       If not, see <http://www.gnu.org/licenses/>                                                *
 **************************************************************************************************************** -->
<plist version="1.0">
<dict>
	<key>LayoutName</key>
	<string>Mini Symbols Keyboard</string>
	<key>Definition</key>
	<string>iOSSym</string>
	<key>Keys</key>
	<array>
		<dict>
			<key>Button</key>
			<integer>1</integer>
			<key>Letter</key>
			<string>[</string>
			<key>Keycode</key>
			<integer>33</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>2</integer>
			<key>Letter</key>
			<string>]</string>
			<key>Keycode</key>
			<integer>30</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>3</integer>
			<key>Letter</key>
			<string>{</string>
			<key>Keycode</key>
			<integer>S33</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>4</integer>
			<key>Letter</key>
			<string>}</string>
			<key>Keycode</key>
			<integer>S30</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>5</integer>
			<key>Letter</key>
			<string>#</string>
			<key>Keycode</key>
			<integer>S20</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>6</integer>
			<key>Letter</key>
			<string>%</string>
			<key>Keycode</key>
			<integer>S23</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>7</integer>
			<key>Letter</key>
			<string>^</string>
			<key>Keycode</key>
			<integer>S22</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>8</integer>
			<key>Letter</key>
			<string>*</string>
			<key>Keycode</key>
			<integer>S28</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>9</integer>
			<key>Letter</key>
			<string>+</string>
			<key>Keycode</key>
			<integer>S24</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>10</integer>
			<key>Letter</key>
			<string>=</string>
			<key>Keycode</key>
			<integer>24</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>11</integer>
			<key>Letter</key>
			<string>_</string>
			<key>Keycode</key>
			<integer>S27</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>12</integer>
			<key>Letter</key>
			<string>\</string>
			<key>Keycode</key>
			<integer>42</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>13</integer>
			<key>Letter</key>
			<string>|</string>
			<key>Keycode</key>
			<integer>S42</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>14</integer>
			<key>Letter</key>
			<string>~</string>
			<key>Keycode</key>
			<integer>S50</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>15</integer>
			<key>Letter</key>
			<string>&lt;</string>
			<key>Keycode</key>
			<integer>S43</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>16</integer>
			<key>Letter</key>
			<string>&gt;</string>
			<key>Keycode</key>
			<integer>S47</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>17</integer>
			<key>Letter</key>
			<string>€</string>
			<key>Keycode</key>
			<integer>0</integer><!-- Missing -->
		</dict>
		<dict>
			<key>Button</key>
			<integer>18</integer>
			<key>Letter</key>
			<string>£</string>
			<key>Keycode</key>
			<integer>0</integer><!-- Missing -->
		</dict>
		<dict>
			<key>Button</key>
			<integer>19</integer>
			<key>Letter</key>
			<string>¥</string>
			<key>Keycode</key>
			<integer>0</integer><!-- Missing -->
		</dict>
		<dict>
			<key>Button</key>
			<integer>20</integer>
			<key>Letter</key>
			<string>•</string>
			<key>Keycode</key>
			<integer>0</integer><!-- Missing -->
		</dict>
		<dict>
			<key>Button</key>
			<integer>21</integer>
			<key>Letter</key>
			<string>NUMS</string>
			<key>Keycode</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>22</integer>
			<key>Letter</key>
			<string>.</string>
			<key>Keycode</key>
			<integer>47</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>23</integer>
			<key>Letter</key>
			<string>,</string>
			<key>Keycode</key>
			<integer>43</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>24</integer>
			<key>Letter</key>
			<string>?</string>
			<key>Keycode</key>
			<integer>S44</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>25</integer>
			<key>Letter</key>
			<string>!</string>
			<key>Keycode</key>
			<integer>S18</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>26</integer>
			<key>Letter</key>
			<string>&apos;</string>
			<key>Keycode</key>
			<integer>39</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>27</integer>
			<key>Letter</key>
			<string>DELETE</string>
			<key>Keycode</key>
			<integer>51</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>28</integer>
			<key>Letter</key>
			<string>QWERTY</string>
			<key>Keycode</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>29</integer>
			<key>Letter</key>
			<string> </string>
			<key>Keycode</key>
			<integer>49</integer>
		</dict>
		<dict>
			<key>Button</key>
			<integer>30</integer>
			<key>Letter</key>
			<string>RETURN</string>
			<key>Keycode</key>
			<integer>36</integer>
		</dict>
	</array>
</dict>
</plist>
