<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Header</key>
	<string>
*******************************************************************************************************************
*                                                MagicKeyboard                                                    *
*******************************************************************************************************************
* File:             NumPadApple.plist                                                                             *
* Copyright:        (c) 2011 alimonda.com; Emanuele Alimonda                                                      *
*                   This software is free software: you can redistribute it and/or modify it under the terms of   *
*                       the GNU General Public License as published by the Free Software Foundation, either       *
*                       version 3 of the License, or (at your option) any later version.                          *
*                   This software is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;    *
*                       without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. *
*                   See the GNU General Public License for more details.                                          *
*                   You should have received a copy of the GNU General Public License along with this program.    *
*                       If not, see http://www.gnu.org/licenses/                                                  *
*******************************************************************************************************************
 	</string>
	<key>DefinitionName</key>
	<string>Apple Keyboard Numeric Keypad Layout</string>
	<key>Style</key>
	<string>Aluminium</string>
	<key>Background</key>
	<dict>
		<key>FileName</key>
		<string>NumPadApple</string>
		<key>Width</key>
		<integer>296</integer>
		<key>Height</key>
		<integer>428</integer>
	</dict>
	<key>Buttons</key>
	<array>
		<dict>
			<key>ID</key>
			<integer>1</integer>
			<key>xStart</key>
			<integer>5</integer>
			<key>xEnd</key>
			<integer>143</integer>
			<key>yStart</key>
			<integer>3</integer>
			<key>yEnd</key>
			<integer>77</integer>
			<key>SpecialButton</key>
			<false/>
		</dict>
		<dict>
			<key>ID</key>
			<integer>2</integer>
			<key>xStart</key>
			<integer>153</integer>
			<key>xEnd</key>
			<integer>217</integer>
			<key>yStart</key>
			<integer>3</integer>
			<key>yEnd</key>
			<integer>77</integer>
			<key>SpecialButton</key>
			<false/>
		</dict>
		<dict>
			<key>ID</key>
			<integer>3</integer>
			<key>xStart</key>
			<integer>5</integer>
			<key>xEnd</key>
			<integer>69</integer>
			<key>yStart</key>
			<integer>87</integer>
			<key>yEnd</key>
			<integer>152</integer>
			<key>SpecialButton</key>
			<false/>
		</dict>
		<dict>
			<key>ID</key>
			<integer>4</integer>
			<key>xStart</key>
			<integer>79</integer>
			<key>xEnd</key>
			<integer>143</integer>
			<key>yStart</key>
			<integer>87</integer>
			<key>yEnd</key>
			<integer>152</integer>
			<key>SpecialButton</key>
			<false/>
		</dict>
		<dict>
			<key>ID</key>
			<integer>5</integer>
			<key>xStart</key>
			<integer>153</integer>
			<key>xEnd</key>
			<integer>217</integer>
			<key>yStart</key>
			<integer>87</integer>
			<key>yEnd</key>
			<integer>152</integer>
			<key>SpecialButton</key>
			<false/>
		</dict>
		<dict>
			<key>ID</key>
			<integer>6</integer>
			<key>xStart</key>
			<integer>5</integer>
			<key>xEnd</key>
			<integer>69</integer>
			<key>yStart</key>
			<integer>162</integer>
			<key>yEnd</key>
			<integer>226</integer>
			<key>SpecialButton</key>
			<false/>
		</dict>
		<dict>
			<key>ID</key>
			<integer>7</integer>
			<key>xStart</key>
			<integer>79</integer>
			<key>xEnd</key>
			<integer>143</integer>
			<key>yStart</key>
			<integer>162</integer>
			<key>yEnd</key>
			<integer>226</integer>
			<key>SpecialButton</key>
			<false/>
		</dict>
		<dict>
			<key>ID</key>
			<integer>8</integer>
			<key>xStart</key>
			<integer>153</integer>
			<key>xEnd</key>
			<integer>217</integer>
			<key>yStart</key>
			<integer>162</integer>
			<key>yEnd</key>
			<integer>226</integer>
			<key>SpecialButton</key>
			<false/>
		</dict>
		<dict>
			<key>ID</key>
			<integer>9</integer>
			<key>xStart</key>
			<integer>5</integer>
			<key>xEnd</key>
			<integer>69</integer>
			<key>yStart</key>
			<integer>236</integer>
			<key>yEnd</key>
			<integer>300</integer>
			<key>SpecialButton</key>
			<false/>
		</dict>
		<dict>
			<key>ID</key>
			<integer>10</integer>
			<key>xStart</key>
			<integer>79</integer>
			<key>xEnd</key>
			<integer>143</integer>
			<key>yStart</key>
			<integer>236</integer>
			<key>yEnd</key>
			<integer>300</integer>
			<key>SpecialButton</key>
			<false/>
		</dict>
		<dict>
			<key>ID</key>
			<integer>11</integer>
			<key>xStart</key>
			<integer>153</integer>
			<key>xEnd</key>
			<integer>217</integer>
			<key>yStart</key>
			<integer>236</integer>
			<key>yEnd</key>
			<integer>300</integer>
			<key>SpecialButton</key>
			<false/>
		</dict>
		<dict>
			<key>ID</key>
			<integer>12</integer>
			<key>xStart</key>
			<integer>227</integer>
			<key>xEnd</key>
			<integer>292</integer>
			<key>yStart</key>
			<integer>3</integer>
			<key>yEnd</key>
			<integer>152</integer>
			<key>SpecialButton</key>
			<true/>
		</dict>
		<dict>
			<key>ID</key>
			<integer>13</integer>
			<key>xStart</key>
			<integer>227</integer>
			<key>xEnd</key>
			<integer>292</integer>
			<key>yStart</key>
			<integer>162</integer>
			<key>yEnd</key>
			<integer>226</integer>
			<key>SpecialButton</key>
			<false/>
		</dict>
		<dict>
			<key>ID</key>
			<integer>14</integer>
			<key>xStart</key>
			<integer>227</integer>
			<key>xEnd</key>
			<integer>292</integer>
			<key>yStart</key>
			<integer>236</integer>
			<key>yEnd</key>
			<integer>300</integer>
			<key>SpecialButton</key>
			<false/>
		</dict>
		<dict>
			<key>ID</key>
			<integer>15</integer>
			<key>xStart</key>
			<integer>227</integer>
			<key>xEnd</key>
			<integer>292</integer>
			<key>yStart</key>
			<integer>310</integer>
			<key>yEnd</key>
			<integer>375</integer>
			<key>SpecialButton</key>
			<false/>
		</dict>
		<dict>
			<key>ID</key>
			<integer>16</integer>
			<key>xStart</key>
			<integer>153</integer>
			<key>xEnd</key>
			<integer>217</integer>
			<key>yStart</key>
			<integer>310</integer>
			<key>yEnd</key>
			<integer>375</integer>
			<key>SpecialButton</key>
			<false/>
		</dict>
		<dict>
			<key>ID</key>
			<integer>17</integer>
			<key>xStart</key>
			<integer>79</integer>
			<key>xEnd</key>
			<integer>143</integer>
			<key>yStart</key>
			<integer>310</integer>
			<key>yEnd</key>
			<integer>375</integer>
			<key>SpecialButton</key>
			<false/>
		</dict>
		<dict>
			<key>ID</key>
			<integer>18</integer>
			<key>xStart</key>
			<integer>5</integer>
			<key>xEnd</key>
			<integer>69</integer>
			<key>yStart</key>
			<integer>310</integer>
			<key>yEnd</key>
			<integer>375</integer>
			<key>SpecialButton</key>
			<false/>
		</dict>
		<dict>
			<key>ID</key>
			<integer>19</integer>
			<key>xStart</key>
			<integer>5</integer>
			<key>xEnd</key>
			<integer>69</integer>
			<key>yStart</key>
			<integer>385</integer>
			<key>yEnd</key>
			<integer>425</integer>
			<key>SpecialButton</key>
			<true/>
		</dict>
		<dict>
			<key>ID</key>
			<integer>20</integer>
			<key>xStart</key>
			<integer>79</integer>
			<key>xEnd</key>
			<integer>143</integer>
			<key>yStart</key>
			<integer>385</integer>
			<key>yEnd</key>
			<integer>425</integer>
			<key>SpecialButton</key>
			<true/>
		</dict>
		<dict>
			<key>ID</key>
			<integer>21</integer>
			<key>xStart</key>
			<integer>153</integer>
			<key>xEnd</key>
			<integer>217</integer>
			<key>yStart</key>
			<integer>385</integer>
			<key>yEnd</key>
			<integer>425</integer>
			<key>SpecialButton</key>
			<true/>
		</dict>
		<dict>
			<key>ID</key>
			<integer>22</integer>
			<key>xStart</key>
			<integer>227</integer>
			<key>xEnd</key>
			<integer>292</integer>
			<key>yStart</key>
			<integer>385</integer>
			<key>yEnd</key>
			<integer>425</integer>
			<key>SpecialButton</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
