<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Header</key>
	<string>
*******************************************************************************************************************
*                                                MagicKeyboard                                                    *
*******************************************************************************************************************
* File:             NumPad.plist                                                                                  *
* Copyright:        (c) 2011 alimonda.com; Emanuele Alimonda                                                      *
*                   This software is free software: you can redistribute it and/or modify it under the terms of   *
*                       the GNU General Public License as published by the Free Software Foundation, either       *
*                       version 3 of the License, or (at your option) any later version.                          *
*                   This software is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY;    *
*                       without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. *
*                   See the GNU General Public License for more details.                                          *
*                   You should have received a copy of the GNU General Public License along with this program.    *
*                       If not, see http://www.gnu.org/licenses/                                                  *
*******************************************************************************************************************
 	</string>
	<key>DefinitionName</key>
	<string>Full Numeric Keypad Layout</string>
	<key>Style</key>
	<string>Default</string>
	<key>Background</key>
	<dict>
		<key>FileName</key>
		<string>NumPad</string>
		<key>Width</key>
		<integer>305</integer>
		<key>Height</key>
		<integer>360</integer>
	</dict>
	<key>Buttons</key>
	<array>
		<dict>
			<key>ID</key>
			<integer>1</integer>
			<key>xStart</key>
			<integer>5</integer>
			<key>xEnd</key>
			<integer>150</integer>
			<key>yStart</key>
			<integer>5</integer>
			<key>yEnd</key>
			<integer>73</integer>
			<key>SpecialButton</key>
			<false/>
		</dict>
		<dict>
			<key>ID</key>
			<integer>2</integer>
			<key>xStart</key>
			<integer>157</integer>
			<key>xEnd</key>
			<integer>225</integer>
			<key>yStart</key>
			<integer>5</integer>
			<key>yEnd</key>
			<integer>73</integer>
			<key>SpecialButton</key>
			<false/>
		</dict>
		<dict>
			<key>ID</key>
			<integer>3</integer>
			<key>xStart</key>
			<integer>5</integer>
			<key>xEnd</key>
			<integer>72</integer>
			<key>yStart</key>
			<integer>78</integer>
			<key>yEnd</key>
			<integer>144</integer>
			<key>SpecialButton</key>
			<false/>
		</dict>
		<dict>
			<key>ID</key>
			<integer>4</integer>
			<key>xStart</key>
			<integer>82</integer>
			<key>xEnd</key>
			<integer>150</integer>
			<key>yStart</key>
			<integer>78</integer>
			<key>yEnd</key>
			<integer>144</integer>
			<key>SpecialButton</key>
			<false/>
		</dict>
		<dict>
			<key>ID</key>
			<integer>5</integer>
			<key>xStart</key>
			<integer>157</integer>
			<key>xEnd</key>
			<integer>225</integer>
			<key>yStart</key>
			<integer>78</integer>
			<key>yEnd</key>
			<integer>144</integer>
			<key>SpecialButton</key>
			<false/>
		</dict>
		<dict>
			<key>ID</key>
			<integer>6</integer>
			<key>xStart</key>
			<integer>5</integer>
			<key>xEnd</key>
			<integer>72</integer>
			<key>yStart</key>
			<integer>149</integer>
			<key>yEnd</key>
			<integer>215</integer>
			<key>SpecialButton</key>
			<false/>
		</dict>
		<dict>
			<key>ID</key>
			<integer>7</integer>
			<key>xStart</key>
			<integer>82</integer>
			<key>xEnd</key>
			<integer>150</integer>
			<key>yStart</key>
			<integer>149</integer>
			<key>yEnd</key>
			<integer>215</integer>
			<key>SpecialButton</key>
			<false/>
		</dict>
		<dict>
			<key>ID</key>
			<integer>8</integer>
			<key>xStart</key>
			<integer>157</integer>
			<key>xEnd</key>
			<integer>225</integer>
			<key>yStart</key>
			<integer>149</integer>
			<key>yEnd</key>
			<integer>215</integer>
			<key>SpecialButton</key>
			<false/>
		</dict>
		<dict>
			<key>ID</key>
			<integer>9</integer>
			<key>xStart</key>
			<integer>5</integer>
			<key>xEnd</key>
			<integer>72</integer>
			<key>yStart</key>
			<integer>220</integer>
			<key>yEnd</key>
			<integer>286</integer>
			<key>SpecialButton</key>
			<false/>
		</dict>
		<dict>
			<key>ID</key>
			<integer>10</integer>
			<key>xStart</key>
			<integer>82</integer>
			<key>xEnd</key>
			<integer>150</integer>
			<key>yStart</key>
			<integer>220</integer>
			<key>yEnd</key>
			<integer>286</integer>
			<key>SpecialButton</key>
			<false/>
		</dict>
		<dict>
			<key>ID</key>
			<integer>11</integer>
			<key>xStart</key>
			<integer>157</integer>
			<key>xEnd</key>
			<integer>225</integer>
			<key>yStart</key>
			<integer>220</integer>
			<key>yEnd</key>
			<integer>286</integer>
			<key>SpecialButton</key>
			<false/>
		</dict>
		<dict>
			<key>ID</key>
			<integer>12</integer>
			<key>xStart</key>
			<integer>233</integer>
			<key>xEnd</key>
			<integer>301</integer>
			<key>yStart</key>
			<integer>5</integer>
			<key>yEnd</key>
			<integer>144</integer>
			<key>SpecialButton</key>
			<false/>
		</dict>
		<dict>
			<key>ID</key>
			<integer>13</integer>
			<key>xStart</key>
			<integer>233</integer>
			<key>xEnd</key>
			<integer>301</integer>
			<key>yStart</key>
			<integer>149</integer>
			<key>yEnd</key>
			<integer>286</integer>
			<key>SpecialButton</key>
			<false/>
		</dict>
		<dict>
			<key>ID</key>
			<integer>14</integer>
			<key>xStart</key>
			<integer>233</integer>
			<key>xEnd</key>
			<integer>301</integer>
			<key>yStart</key>
			<integer>289</integer>
			<key>yEnd</key>
			<integer>355</integer>
			<key>SpecialButton</key>
			<false/>
		</dict>
		<dict>
			<key>ID</key>
			<integer>15</integer>
			<key>xStart</key>
			<integer>157</integer>
			<key>xEnd</key>
			<integer>225</integer>
			<key>yStart</key>
			<integer>289</integer>
			<key>yEnd</key>
			<integer>355</integer>
			<key>SpecialButton</key>
			<false/>
		</dict>
		<dict>
			<key>ID</key>
			<integer>16</integer>
			<key>xStart</key>
			<integer>82</integer>
			<key>xEnd</key>
			<integer>150</integer>
			<key>yStart</key>
			<integer>289</integer>
			<key>yEnd</key>
			<integer>355</integer>
			<key>SpecialButton</key>
			<false/>
		</dict>
		<dict>
			<key>ID</key>
			<integer>17</integer>
			<key>xStart</key>
			<integer>5</integer>
			<key>xEnd</key>
			<integer>72</integer>
			<key>yStart</key>
			<integer>289</integer>
			<key>yEnd</key>
			<integer>355</integer>
			<key>SpecialButton</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
